
/* //////////////////////// TAB STYLING /////////////////// */

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-bottom: 2px solid inherit;
    width: 33.333%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
    border-bottom: 2px solid#000;
    overflow: hidden;
    font-weight: bold;
   
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
    border-bottom: 2px solid#000!important;
    font-weight: bold;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 0px;
    border-top: none;
    min-height: 600px;
}


/*////////////// ADD SEALION BUTTON //////////////*/

.addsealion{
	padding: 20px 0px;

}

.dark-card{
	border: 1px solid #ccc!important;
}

